/*****************************************************/
/* Styles appliqués pour tout ce qui touche aux liste d'amis... */
/*****************************************************/
/* Liste des amis. */
.ami_consult
{
   	filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
	min-height: 1px;
	overflow: hidden;
	padding: 3px;
	background: rgb(200,200,120);
	border-top: 1px solid rgb(180,180,100);
	font-size: 12px;
}

.ami_consultmenu
{
	position: absolute;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}

.ami_consultmenu_menu
{
	background: rgb(220,220,140);
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	visibility: hidden;
	height: 0;
	width: 0;
	padding: 1px;
	border-bottom: 1px solid rgb(200,200,120);
	border-right: 1px solid rgb(200,200,120);
}

.ami_consultmenu_menusel
{
	background: rgb(240,240,160);
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	visibility: hidden;
	height: 0;
	width: 0;
	padding: 1px;
	border-bottom: 1px solid rgb(200,200,120);
	border-right: 1px solid rgb(200,200,120);
}

.ami_consultmenu_ongletactif
{
	background: rgb(220,220,140);
	padding-top: 1px;
	padding-left: 3px;
	padding-bottom: 1px;
	padding-right: 3px;
	border-right: 1px solid rgb(200,200,120);
}

/*.ami_consultmenu_ongletinactif
{
	A remplir si besoin.
}
*/

.ami_supprvalid
{
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	min-height: 1px;
	width: 100%;
	overflow: hidden;
	display: none;
	text-align: center;
	background: rgb(0,0,0);
	position: absolute;
	z-index: 3;
}

.ami_supprvalid_boutonvalid
{
   	background: rgb(200,200,120);
   	border-left: solid 1px rgb(220,220,220);
	border-top: solid 1px rgb(220,220,220);
	border-right: solid 1px rgb(170,170,90);
	border-bottom: solid 1px rgb(170,170,90);
}

.ami_supprvalid_boutonvalidsel
{
   	background: rgb(190,190,110);
	border-left: solid 1px rgb(170,170,90);
	border-top: solid 1px rgb(170,170,90);
	border-right: solid 1px rgb(220,220,220);
	border-bottom: solid 1px rgb(220,220,220);
}

.ami_supprvalid_boutonannul
{
   	background: rgb(200,200,120);
   	border-left: solid 1px rgb(220,220,220);
	border-top: solid 1px rgb(220,220,220);
	border-right: solid 1px rgb(170,170,90);
	border-bottom: solid 1px rgb(170,170,90);
}

.ami_supprvalid_boutonannulsel
{
   	background: rgb(190,190,110);
	border-left: solid 1px rgb(170,170,90);
	border-top: solid 1px rgb(170,170,90);
	border-right: solid 1px rgb(220,220,220);
	border-bottom: solid 1px rgb(220,220,220);
}

.ami_cadretitre
{
   	background: rgb(220,220,140);
	border-left: solid 1px rgb(240,240,160);
	color: rgb(150,100,50);
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
}

.ami_cadrecontenu
{
   	background: rgb(220,220,140);
	border-bottom: solid 1px rgb(200,200,120);
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

/* Liste des demandes d'amis. */
.demandeAmi_consult
{
   	filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
	min-height: 1px;
	overflow: hidden;
	padding: 3px;
	background: rgb(200,200,120);
	border-top: 1px solid rgb(180,180,100);
	font-size: 12px;
}

.demandeAmi_consultmenu
{
	position: absolute;
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}

.demandeAmi_consultmenu_menu
{
	background: rgb(220,220,140);
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	visibility: hidden;
	height: 0;
	width: 0;
	padding: 1px;
	border-bottom: 1px solid rgb(200,200,120);
	border-right: 1px solid rgb(200,200,120);
	white-space: nowrap;
}

.demandeAmi_consultmenu_menusel
{
	background: rgb(240,240,160);
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	visibility: hidden;
	height: 0;
	width: 0;
	padding: 1px;
	border-bottom: 1px solid rgb(200,200,120);
	border-right: 1px solid rgb(200,200,120);
}

.demandeAmi_consultmenu_ongletactif
{
	background: rgb(220,220,140);
	padding-top: 1px;
	padding-left: 3px;
	padding-bottom: 1px;
	padding-right: 3px;
	border-right: 1px solid rgb(200,200,120);
}

/*.demandeAmi_consultmenu_ongletinactif
{
	A remplir si besoin.
}
*/

.demandeAmi_supprvalid
{
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	min-height: 1px;
	width: 100%;
	overflow: hidden;
	display: none;
	text-align: center;
	background: rgb(0,0,0);
	position: absolute;
	z-index: 3;
}

.demandeAmi_supprvalid_boutonvalid
{
   	background: rgb(200,200,120);
   	border-left: solid 1px rgb(220,220,220);
	border-top: solid 1px rgb(220,220,220);
	border-right: solid 1px rgb(170,170,90);
	border-bottom: solid 1px rgb(170,170,90);
}

.demandeAmi_supprvalid_boutonvalidsel
{
   	background: rgb(190,190,110);
	border-left: solid 1px rgb(170,170,90);
	border-top: solid 1px rgb(170,170,90);
	border-right: solid 1px rgb(220,220,220);
	border-bottom: solid 1px rgb(220,220,220);
}

.demandeAmi_supprvalid_boutonannul
{
   	background: rgb(200,200,120);
   	border-left: solid 1px rgb(220,220,220);
	border-top: solid 1px rgb(220,220,220);
	border-right: solid 1px rgb(170,170,90);
	border-bottom: solid 1px rgb(170,170,90);
}

.demandeAmi_supprvalid_boutonannulsel
{
   	background: rgb(190,190,110);
	border-left: solid 1px rgb(170,170,90);
	border-top: solid 1px rgb(170,170,90);
	border-right: solid 1px rgb(220,220,220);
	border-bottom: solid 1px rgb(220,220,220);
}

.demandeAmi_cadretitre
{
   	background: rgb(220,220,140);
	border-top: solid 1px rgb(240,240,160);
	color: rgb(150,100,50);
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
}

.demandeAmi_cadrecontenu
{
   	background: rgb(220,220,140);
	border-bottom: solid 1px rgb(200,200,120);
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
}