.css_csselement_cadretitre
{
   	background: rgb(240,240,160);
   	padding: 2px;
}

.css_csselement_cadrerepresentation
{

}

.css_csselement_cadrerepresentation_tab
{
}

.css_csselement_cadrerepresentation_contenu
{
   	padding: 8px;
}

.css_csselement_cadrerepresentation_cadre
{
   	background: rgb(180,180,100);
    padding: 4px;
}

.css_csselement_cadreedition
{

}

.css_csselement_cadreedition_tab
{
   	background: rgb(180,180,100);
    padding: 4px;
}

/* Style pour les attributs de type pixel. */
.css_cssattribut_pixel
{

}

.css_cssattribut_pixel_input_label
{

}

.css_cssattribut_pixel_input_label_tab
{

}

.css_cssattribut_pixel_text
{

}

.css_cssattribut_pixel_text_edit
{

}

.css_cssattribut_pixel_text_valeuredit
{

}

/* Style pour les attributs de type couleur. */
.css_cssattribut_couleur
{

}

.css_cssattribut_couleur_label
{

}

.css_cssattribut_couleur_label_tab
{

}

.css_cssattribut_couleur_input_label
{

}

.css_cssattribut_couleur_input_label_tab
{

}

.css_cssattribut_couleur_text
{

}

.css_cssattribut_couleur_text_edit
{

}

.css_cssattribut_couleur_text_valeuredit
{

}